[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = ">=2.13,<2.14"
Django = "<3.3,>=3.2"
pyyaml = "*"
wagtailmenus = "*"
django-extensions = "*"
python-environ = "*"
django-allauth = "*"
invoke = "*"

[dev-packages]
ipython = "*"
notebook = "*"

[requires]
python_version = "3.8"
