{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load custom_template_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block page_style %}
  <!-- Custom styles for this template -->
  <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
  <style>
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
    }
    tr > td:first-child {
    text-align: right;
    font-weight: bold;
    }    
  </style>
{% endblock %}

{% block content %}
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
	<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
	<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <!-- ==================  images  ================== -->
      {% setvar "True" as is_first %}
      <div class="carousel-inner">
	{% for photo in asset.gallery_images.all  %}
	  {% if is_first == "True" %}
	    {% setvar "False" as is_first %}
	    <div class="carousel-item active">
	  {% else %}
	    <div class="carousel-item">
	  {% endif %}
	  {% image photo.image height-400 as carimage %}
          <div class="carousel-item-img">
	    <img src="{{ carimage.url }}"/>
          </div>
	    </div>
            <div class="container">
	      <div class="carousel-caption text-start">
		<h1>Example headline.</h1>
		<p>Some representative placeholder content for the first slide of the carousel.</p>
		<p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
	      </div>
            </div>
	  {% endfor %}
	  
	  <!-- ==========  carousel boutton ========= -->
	    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
	      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	      <span class="visually-hidden">Previous</span>
	    </button>
	    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
	      <span class="carousel-control-next-icon" aria-hidden="true"></span>
	      <span class="visually-hidden">Next</span>
	    </button>
	    </div>
	    

	    <!-- Marketing messaging and featurettes
	    ================================================== -->
	{% include 'realestate/includes/marketing.html' %}    
            <!-- Wrap the rest of the page in another container to center all the content. -->
	    <!-- ========= tags ======= --->
	    {% if page.tags.count %}
	    <h1>Tags:</h1>
	    {% for tag in page.tags.all %}
	    {# Loop through all the existing tags #}
	    <a href="/{{ offer_type }}s/?tag={{ tag.slug }}">
	      <img width="50px" src="{% static 'images/tag-details.jpg' %}" />
	      {{ tag }}
	    </a><br />
	    {% endfor %}
	    {% endif %}	    
	    <!-- ========= endtags ======= --->
	    
	    {% block offer_detail %}
	      <div>
		<h1>{{ offer }}</h1>

		<p>{{ offer.title }}
		</p>
		{% comment %}
		<div>
 		  <dl class="dl-horizontal">
		    <dt>{% trans "Street" %}</dt><dd>{{ asset.address_street }}</dd>
		    <dt>{% trans "City" %}</dt><dd>{{ asset.address_city }}</dd>
		    <dt>{% trans "Zip" %}</dt><dd>{{ asset.address_zip }}</dd>
		    <dt>{% trans "Surface" %}</dt><dd>{{ asset.asset_surface }}</dd>
		    <dt>{% trans "Price" %}</dt><dd>{{ offer.price }}</dd>
		    <dt>{% trans "Deposit" %}</dt><dd>{{ offer.deposit }}</dd>
		  </dl>
		</div>
	      {% endcomment %}
		<div class="table-responsive">
 		  <table class="table table-striped">
		    <thead>
		      <tr>
			<th width="20%"></th><th></th>
		      </tr>
		    </thead>
		    <tr><td>{% trans "Street" %}</td><td>{{ asset.address_street }}</td></tr>
		    <tr><td>{% trans "City" %}</td><td>{{ asset.address_city }}</td></tr>
		    <tr><td>{% trans "Zip" %}</td><td>{{ asset.address_zip }}</td></tr>
		    <tr><td>{% trans "Surface" %}</td><td>{{ asset.asset_surface }}</td></tr>
		    <tr><td>{% trans "Price" %}</td><td>{{ offer.price }}</td></tr>
		    {% block offer-specs %}
		    {% endblock %}
		  </table>
		</div>
		<br/>
		nbimages: {{ asset.gallery_images_count }}
		<h2>Asset Title</h2>
		<p>
		  {{ asset.title }}
		</p>
		<h2>Asset Description</h2>
		<p>
		  {{ asset.description|richtext }}
		</p>
		
		<h2>Offer Description</h2>
		<p>
		  {{ offer.description|richtext }}
		</p>
		<h2>Offer Title</h2>
		<p>
		  {{ offer.title }}
		</p>
	      </div>
	    {% endblock %}
      </div><!-- /.container -->
  </main>
{% endblock %}
