{% extends "realestate/base.html" %}
{% load wagtailcore_tags debugger_tags wagtailimages_tags %}
{% load i18n %}
{% block content %}

<h1>{{ asset.short_description }}</h1>

<p>
  {{ asset.short_description }}
</p>
<p>
<table class="table table-striped">
  <tr><td>{% trans "Street" %}</td><td>{{ asset.address_street }}</td></tr>
  <tr><td>{% trans "City" %}</td><td>{{ asset.address_city }}</td></tr>
  <tr><td>{% trans "Zip" %}</td><td>{{ asset.address_zip }}</td></tr>
  <tr><td>{% trans "Surface" %}</td><td>{{ asset.asset_surface }}</td></tr>
  <tr><td>{% trans "Value" %}</td><td>{{ asset.asset_value }}</td></tr>
</table>
<h2>Description</h2>
<p>
  {{ asset.description|richtext }}
</p>
{% endblock %}
