{% load static %}
{% load wagtailcore_tags debugger_tags wagtailimages_tags %}
{% load wagtailuserbar %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title>Agence De Location SB Mer Et Montagne </title>


		<meta content="" name="description">
		<meta content="" name="Mot cles">

		<!-- Favicons -->
		<link href="{% static 'assets/img/logo-agence.jpg' %}" rel="icon">
		<link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

		<!-- Vendor CSS Files -->
		<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
		<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
		<link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
		<link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
		<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
		<!-- Template Main CSS File -->
		<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
		<link href="{% static 'assets/css/global.css' %}" rel="stylesheet">

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />        
	
    </head>
    <body>
      {% block main %} <!-- >>> main -->
      <!-- Page header with logo and tagline-->
                        
	  <header id="header" class="fixed-top header-transparent">
		<div class="container d-flex align-items-center justify-content-between">
	
		  <div class="logo">
			<img src="{% static 'assets/img/logo-agence.jpg' %}" alt="Logo agence SB" />
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
		  </div>
	
		  <div class="col-xs-2">
			<div class="block-connexion">
				<span class="overlay">Propriétaire</span>
				<a class="button" href="/inscription">Nouveau membre</a>                         
				<a class="button" href="/membres/">Déjà membre</a>
			</div>
		</div>
	
		<select id="en-tete-select-langue" class="input select2">
		  <option value="fr" selected="selected">FR</option>
		  <option value="en" >EN</option>
		  <option value="nl" >NL</option>
		  <option value="de" >DE</option>
		  <option value="es" >ES</option>
		  <option value="it" >IT</option>
	  </select>            </div>
	
		  <nav id="navbar" class="navbar">
			<ul>
			  <li><a class="nav-link active" href="#hero">Accueil</a></li>
			  <li><a class="nav-link" href="#about">A propos</a></li>
			  <li><a class="nav-link" href="#services">Locations Montagne</a></li>
			  <li><a class="nav-link" href="#portfolio">Locations Mer</a></li>
			  <li><a class="nav-link" href="#team">Team</a></li>
			
			  <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		  </nav><!-- .navbar -->
	
	   
	  </header><!-- End Header -->

      <!-- >>> Page Content -->
	  
	  <section id="hero">
		<div class="hero-container" data-aos="fade-up">
		  <h1>Agence SB</h1>
		  <h2>Bienvenue Sur Notre Site</h2>
		  <a href="#about" class="btn-get-started scrollto"> <i class="bx bx-chevrons-down"></i></a>
		</div>
	  </section><!-- End Hero -->

	  </section><!-- End Hero -->
      <div id="content" class="container py-4">

		<main id="main">

			<!-- ======= About Section ======= -->
			<section id="about" class="about">
			  <div class="container">
		
				<div class="row no-gutters">
				  <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
					<div class="content">
					  <h3>AGENCE DE LOCATIONS D'EXECPTION DEPUIS 10 ANS </h3>
					  <p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
					  </p>
					  <a href="#" class="about-btn">A propos <i class="bx bx-chevron-right"></i></a>
					</div>
				  </div>
				  <div class="col-xl-7 d-flex align-items-stretch">
					<div class="icon-boxes d-flex flex-column justify-content-center">
					  <div class="row">
						<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
						  <i class="bx bx-receipt"></i>
						  <h4>UNE EQUIPE DE SPECIALISTE A VOTRE A VOTRE ECOUTE</h4>
						  <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
						</div>
						<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
						  <i class="bx bx-cube-alt"></i>
						  <h4>DES CHALETS PLUS BEAUX LES UNS QUE LES AUTRES</h4>
						  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
						</div>
						<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
						  <i class="bx bx-images"></i>
						  <h4>DES DESTINATIONS DE REVES</h4>
						  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
						</div>
						<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
						  <i class="bx bx-shield"></i>
						  <h4>DES VACANCES A LA MER OU A LA MONTAGNE</h4>
						  <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
						</div>
					  </div>
					</div><!-- End .content-->
				  </div>
				</div>
		
			  </div>
			</section><!-- End About Section -->

	{% block search_form %}
	{% endblock %}
	{% block content %}{% endblock %}
      </div>

      <!-- <<< Page Content -->
      {% endblock %}
      <!-- <<< main -->
      {% wagtailuserbar %}

      <!-- Footer-->
      <footer id="footer">
		<div class="footer-top">
		  <div class="container">
			<div class="row">
	
			  <div class="col-lg-4 col-md-6">
				<div class="footer-info">
				  <h3>Squadfree</h3>
				  <p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em></p>
				  <p>
					 <br>
					France<br>Telephone<br>
					<strong>:</strong> 06 07 08 09 10<br>
					<strong>Email:</strong> info@example.com<br>
				  </p>
				  <div class="social-links mt-3">
					<!-- Custom css form theme panel -->
	
					<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
					<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
					<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
					<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
				  </div>
				</div>
			  </div>
	
			  <div class="col-lg-2 col-md-6 footer-links">
				<h4>Useful Links</h4>
				<ul>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
				</ul>
			  </div>
	
			  <div class="col-lg-2 col-md-6 footer-links">
				<h4>Our Services</h4>
				<ul>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
				  <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
				</ul>
			  </div>
	
			  <div class="col-lg-4 col-md-6 footer-newsletter">
				<h4>Our Newsletter</h4>
				<p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
				<form action="" method="post">
				  <input type="email" name="email"><input type="submit" value="Subscribe">
				</form>
	
			  </div>
	
			</div>
		  </div>
		</div>
	
		<div class="container">
		  <div class="copyright">
			&copy; Copyright <strong><span>Squadfree</span></strong>. All Rights Reserved
		  </div>
		  <div class="credits">
			
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		  </div>
		</div>
	  </footer><!-- End Footer -->
	<!-- Vendor JS Files -->
	<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
	<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
	<script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
	<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

	<!-- Template Main JS File -->
	<script src="{% static 'assets/js/main.js' %}"></script>

    </body>
</html>
