{% load static %}
{% load wagtailcore_tags %}
{% load i18n %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="{% slugurl 'accueil' %}">Agence immobilière SB</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
        <li class="dropdown">
            <a href="{% slugurl 'rental-offers' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Locations</span> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% slugurl 'rental-offers' %}?tag=mer">Mer</a></li>
                <li><a href="{% slugurl 'rental-offers' %}?tag=montagne">Montagne</a></li>
            </ul>
        </li>			
		<li class="nav-item navbar-brand">
		  <a class="nav-link scrollto" href="{% slugurl 'sale-offers' %}">Ventes</a>
		</li>
		{% block page_navbar %}{% endblock %}
		{% if user.is_authenticated %}
		<li class="nav-item navbar-brand">
		  <a class="nav-link scrollto" href="{% slugurl 'profile_change' %}">{% blocktrans with myuser=user.username %}{{ myuser }}{% endblocktrans %}</a>
		</li>
		<li class="nav-item navbar-brand">
		  <a class="nav-link scrollto" href="{% url 'account_logout' %}?next=/">
		    {% blocktrans with myuser=user.username %}Log Out{% endblocktrans %}</a>
		</li>
		{% else %}
		<li class="nav-item navbar-brand">
		  <a class="nav-link scrollto" href="{% url 'account_login' %}">{% trans 'Log In' %}</a>
		</li>
		{% endif %}
	      </ul>
	      {% block nav_search_form %}
	      <form class="d-flex">
		<input class="form-control me-sm-2" name="q" type="text" placeholder="{% trans 'Search' %}">
		<button class="btn btn-secondary my-2 my-sm-0" type="submit">{% trans 'Search' %}</button>
	      </form>
	      {% endblock %}
	    </div>
	  </div>
	</nav>
