{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}

{% block content %}
  <h1>{{ page.title }}</h1>

  <div class="intro">{{ page.intro|richtext }}</div>

  <h2>Offers: {{ offerpages_count }}</h2>

  {% for offer in offerpages %}
    <h2><a href="{{ offer.get_url }}">{{ offer.title }}</a></h2>
    {% with offer.asset.main_image as main_image %}
      {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
    {% endwith %}
  <p>
    {{ offer.asset.description|richtext }}
  </p>
  
  {% trans "surface:" %} {{ offer.get_parent.specific.asset_surface }}<br/>
  {% trans "city:" %} {{ offer.get_parent.specific.address_city }}<br/>
{% endfor %}
{% endblock %}
