{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}

{% block content %}
  <h1>{{ page.title }}</h1>

  <div>
    <p>
      {{ page.intro|richtext }}
    </p>
  </div>

  <h2>Offres: {{ offerpages_count }}</h2>
  <div class="container">
    {% for offer in offerpages %}
      <div class="row">
	  <div class="col-sm-2">

	    {% with offer.get_parent.specific.main_image as main_image %}
	      {% if main_image %}{% image main_image.image fill-160x100 %}{% endif %}
	    {% endwith %}

	  </div>
	  <div class="col-sm-4">
	    <h3><a href="{{ offer.get_url }}#main">{{ offer.title }}</a></h3>
	    {% trans "Surface :" %} {{ offer.get_parent.specific.asset_surface }}<br/>
	      {% trans "Ville :" %} {{ offer.get_parent.specific.address_city }}<br/>
	      {% trans "Code postal :" %} {{ offer.get_parent.specific.address_zip }}<br/>
	  </div>
	  <div class="col-sm-4">
	    {{offer.short_description|richtext }}
	  </div>
      </div>
      {% endfor %}
    </tbody>
  </div>
{% endblock %}
