{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}

{% block content %}
  <h1>{{ page.title }}</h1>

  <div class="intro">{{ page.intro|richtext }}</div>

  <h2>Contacts</h2>
  <div class="container">
    {% for contact in contacts %}
      <div class="row">
          <div class="col-sm-2">

            {% with contact.get_parent.get_parent.specific.main_image as main_image %}
              {% if main_image %}{% image main_image.image fill-160x100 %}{% endif %}
            {% endwith %}
          </div>
          <div class="col-sm-4">
            {% with contact.get_parent.specific as offer %}
              <h3><a href="/admin/pages/{{ offer.id }}/edit/">{{ offer }}</a> <a href="/admin/pages/{{ contact.id }}/edit/">{{ contact.email }}</a></h3>
              {% trans "Date de création :" %} {{ contact.time_created }}<br>
              {% trans "Email :" %} {{ contact.email }}<br>
              {% trans "Téléphone :" %} {{ contact.phone }}<br>
              {% trans "Status :" %} {{ contact.status_string }}<br>
              Date début : {{ offer.start_date }}<br/>
              Date fin : {{ offer.end_date }}<br/>
            {% endwith %}
          </div>
          <div class="col-sm-4">
            {{offer.short_description|richtext }}
          </div>
      </div>
      {% endfor %}
    </tbody>
  </div>
{% endblock %}
